#container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#board {
  display: flex;
  flex-flow: row wrap;
  width: 640px;
  height: 640px;
  border: 2px solid black;
}

#status {
  padding: 20px;
}

.square {
  width: 80px;

  &.dark {
    background-color: #907E56;
  }

  &.light {
    background-color: #E0BD71;
  }
}

.black {
  color: red;
  background-color: #000;
}

.white {
  color: red;
  background-color: #fff;
}
